---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PageHeadline from "@/components/PageHeadline.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const posts = (await getCollection("news"))
  .filter((post) => post.id.split("/")[0] === locale)
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

const title = t({
  en: "News",
  es: "Noticias",
  fr: "Actualités",
  de: "Nachrichten",
  ja: "ニュース",
  "zh-cn": "新闻",
  ru: "Новости",
  pt: "Notícias",
  ar: "أخبار",
  ko: "뉴스"
});

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout {title}>
  <PageHeadline {title} />

  <p>
    {
      t({
        en: "Latest news from Minecraft Happy Ghast",
        es: "Últimas noticias de Minecraft Happy Ghast",
        fr: "Dernières actualités de Minecraft Happy Ghast",
        de: "Neueste Nachrichten von Minecraft Happy Ghast",
        ja: "Minecraft Happy Ghastの最新ニュース",
        "zh-cn": "Minecraft Happy Ghast的最新动态",
        ru: "Последние новости Minecraft Happy Ghast",
        pt: "Últimas notícias do Minecraft Happy Ghast",
        ar: "آخر أخبار Minecraft Happy Ghast",
        ko: "Minecraft Happy Ghast의 최신 소식"
      })
    }
  </p>

  <ul>
    {
      posts.map((post) => {
        const [, ...id] = post.id.split("/");
        return (
          <li>
            <a href={`/${locale}/news/${id.join("/")}/`}>
              {post.data.cover && (
                <Image src={post.data.cover} alt={post.data.title} />
              )}
              <h2>{post.data.title}</h2>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  p {
    margin-block-start: var(--sp-s);
  }
  ul {
    margin-block-start: var(--sp-m);
    display: grid;
    gap: var(--sp-s);
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  li {
    margin-block-end: 1rem;
    img {
      border-radius: 6px;
    }
  }
</style>
